@font-face {
  font-family: monument;
  src: url('./ABCMonumentGrotesk-Medium.otf');
}

* {
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: black;
  color: white;
  font-family: monument, sans-serif;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 60px;
  font-weight: 300;
  line-height: 1;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}

h1 a {
  text-decoration: underline;
}


.cursor-pointer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.home .cursor-pointer img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  width: auto;
  max-width: 80%;
  object-fit: contain;
  cursor: pointer;
}

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 14px 14px 24px 14px;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 14px;
}

.home .icon {
  position: absolute;
  right: 14px;
  left: auto;
  top: 14px;
  width: 24vh;
  height: 24vh;
  max-width: 20vw;
  z-index: 9;
}

.home .icon img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 1100px) {
  h1 {
    font-size: 36px;
  }

  a {
    font-size: 14px;
  }

  h1 a {
    font-size: 36px;
  }

  .home .cursor-pointer img {
    top: 47svh;
  }

  .home {
    height: 94svh;
  }

  .icon {
    margin-top: 60px;
  }
}