@font-face {
  font-family: monument;
  src: url('./ABCMonumentGrotesk-Regular.otf');
}

*{
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
  font-family: monument, sans-serif;
  height: 100vh;
  overflow: hidden;
}

h1{
  font-size: 60px;
  font-weight: 300;
  line-height: 1;
  margin: 0;
}

a{
  color: inherit;
  text-decoration: none;
  font-size: 24px;
}

.home img{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  width: auto;
  max-width: 80%;
  object-fit: contain;
}

.home{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 14px 14px 24px 14px;
}

.footer{
  position: fixed;
  bottom: 0;
  right: 14px;
}

@media only screen and (max-width: 600px) {
  h1{
    font-size: 42px;
  }

  .home{
    height: 90vh;
  }
}